     
   
<div flex  >
  <md-content layout="row" layout-align="center center" style="margin: 10% 20% 10% 20%; border:1px solid #C8CFD6;">
    <table style="valign:top; width:85%;height:80%;" border="0">
      <tr style="width: 100%;height:100%">
        <td style="width: 70%;height:100%">
          <div layout-align="center center" layout-gt-sm="row">
            <h4>Retrieve PNR info : </h4>
            <md-input-container layout-align="center center"  class="md-block" flex-gt-sm>
              <label style="margin-left: 5%;">Enter or Speak</label>
              <textarea style="margin-left: 5%;" ng-model="pnr" rows="2"></textarea>
            </md-input-container>
          </div>
        </td>
        <td style="width: 30%;height:100%">
          <div layout-align="center center" layout-gt-sm="row" >
            <md-button class="md-fab md-primary" aria-label="Use Android">
              <md-icon md-svg-src="images/Audio.svg" style="color: greenyellow;"></md-icon>
            </md-button>
          </div>
        </td>
      </tr>
    </table>
    </md-content>
</div>
 
